{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="text-center mt-3">Vidéos en tendance</h2>

<!-- CARROUSSELLE PAYS-->
    <div id="carouselExampleControls1" class="carousel slide border shadow-sm mt-5" data-ride="carousel" style="background-color: #dedbdb; width:70%; margin-left:15%">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <ul class="nav justify-content-center">
                    {% for i in 1..4 %} <!-- pour 10 pays EXEMPLE POUR APRES-->
                        <li>
                            <button type="button" class="translateBox btn btn-primary ml-5"> Pays {{ i }}</button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="carousel-item">
                <ul class="nav justify-content-center">
                    {% for i in 5..8 %} <!-- pour 4 autres pays EXEMPLE POUR APRES-->
                        <li>
                            <button type="button" class="translateBox btn btn-primary ml-5"> Pays {{ i }}</button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="carousel-item">
                <ul class="nav justify-content-center">
                    {% for i in 9..12 %}
                        <li>
                            <button type="button" class="translateBox btn btn-primary ml-5"> Pays {{ i }}</button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="carousel-item">
                <ul class="nav justify-content-center">
                    {% for i in 13..16 %}
                        <li>
                            <button type="button" class="translateBox btn btn-primary ml-5"> Pays {{ i }}</button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="carousel-item">
                <ul class="nav justify-content-center">
                    {% for i in 17..17 %}
                        <li>
                            <button type="button" class="translateBox btn btn-primary ml-5"> Pays {{ i }}</button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

<!--CARROUSSELLE DATE-->
    <div id="carouselExampleControls2" class="carousel slide border shadow-sm mt-5" data-ride="carousel" data-interval="60000" style="background-color: #dedbdb; width:30%; margin-left:35%">
       <div class="carousel-inner">
            <div class="carousel-item active">
                <ul class="nav justify-content-center">
                    <li class="text-center">
                        <p>DATE</p> <!-- METTRE DATE D'AUJOUD'HUI DANS LA PARTIE ACTIVE DU CARROUSSELLE-->
                     </li>
                </ul>
            </div>
            {% for i in 1..10 %} <!-- POUR LE NOMBRE DE DATE ANTERIEUR QUE L'ON VEUT AFFICHER-->
                <div class="carousel-item">
                    <ul class="nav justify-content-center">
                        <li>
                            <p>DATE jour d'avant</p> <!-- METTRE DATE D'AUJOUD'HUI - i -->
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="text-center">
        <form action="/action_page.php" class="mt-4"> <!-- UTILISER CETTE DATE EN BACK-->
            <input type="date" id="date" name="date">
            <input type="submit">
        </form>
    </div>

    <div class="border mt-5 container-fluid" style="width:80%; margin-left:10%">
        <p class="text-center">Titre de la vidéo 1</p>
        <div class="text-center">
            <img src="images/vache.jpg" class="center-block border rounded ">
        </div>
        <div class="row justify-content-between text-center mt-4">
            <div class="col-4">
                <p>Titre vidéo 2</p>
                <img src="images/vache.jpg" class="center-block border rounded" width="auto" height=50%>
            </div>
            <div class="col-4 mb-3">
                <p>Titre vidéo 3</p>
                <img src="images/vache.jpg" class="center-block border rounded" width="auto" height=50% >
            </div>
        </div>
        <div class=" row row-cols-5 mt-5">
            {% for i in 4..50 %}
                <div class="col" style="margin-top: -15%">
                    <img src="images/vache.jpg" class="center-block border rounded" width="auto" height=33%>
                    <p>#{{ i }} - Titre de la vidéo</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <style>
        .translateBox:hover{
            -webkit-transform: translate(0.5em,0);
            -moz-transform: translate(0.5em,0);
            -o-transform: translate(0.5em,0);
            -ms-transform: translate(0.5em,0);
            transform: translate(0.5em,0);

            -webkit-transition: 1s ease-in-out;
            -moz-transition: 1s ease-in-out;
            -o-transition: 1s ease-in-out;
            transition: 1s ease-in-out;
        }
    </style>

{% endblock %}