
{% extends 'base.html.twig' %}

{% block title "Pays"%}

{% block body %}
<div class="container mt-5">
    <div class="row">

        {% if title is defined %}
        <div class="col">
            <div class="row mt-3" style="justify-content: center">
                <p style="color:#F87E45;">{{ title }}</p>
            </div>
        </div>
        {% endif %}

        {% if countries is defined %}
        {% for country in countries %}
        <div class="jumbotron">
            <div class="container">

                <div class="row">
                    <div class="col-md-8">
                        <a href="{{ path('country.showChan', {id: country.id, slug: country.slug}) }}">{{ country.getName }}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <!--
    // on insère les scripts défini dans le template base.html.twig (le parent de notre template cf extends en haut)

    //ci dessous on défini notre nouveau script
    //on oublie pas d'utiliser assets si c'est un script local
    -->

        <script src="{{asset('javascript/bousin3000.js')}}"> </script>

{% endblock %}
