{% extends 'assets/base.html.twig' %}

{% block title "showCountry" %}

{% block body %}
        <div style="margin-top : 200px">
            {% include 'assets/carousel.html.twig' %}
        </div>

        <div class="row justify-content-center mt-5">
            <div class="row ">{{ form_start(dateForm) }} {{ form_widget(dateForm) }} 
                <button type="submit" class="btn btn-primary mt-2" style="margin-left: 30%">Save</button>
                {{ form_end(dateForm) }}
            </div>
        </div>

        <div class="mt-5 mb-5 ml-5">
            <h1>Tendances {{country.getName}}</h1>
        </div>
        {% if (videos is defined) and (channels is defined) %}
            {% include 'assets/tabCountry.html.twig' %}
        {% endif %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

{% endblock %}
