<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - travel geovinum</title>
<<<<<<< HEAD
    {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> #}
=======
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
>>>>>>> dfe567f5ecccbf24f1e464e46de60e9ebedb848e
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js">
    </script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
        type="text/css" />
</head>

<body>

    <body>
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css" type="text/css" />

        <main class="page lanidng-page">
            <section class="portfolio-block block-intro" style="padding: 30px 0;padding-top: 30;padding-bottom: 30;">
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab-1">
                        <div id='map' style='width: 1200px; height: 600px; margin:auto;'></div>
                    </div>
                </div>
                <!-- <div id="menu">
                    <input id="light-v10" type="radio" name="rtoggle" value="streets" checked="checked" />
                    <label for="light-v10">light</label>
                    <input id="dark-v10" type="radio" name="rtoggle" value="dark" />
                    <label for="dark-v10">dark</label>
                </div> -->
            </section>
        </main>
    </body>
      <style>
        .map-overlay fieldset {
            display: none;
            background: #ddd;
            border: none;
            padding: 10px;
            margin: 0;
            top: 100px
        }

        .map-overlay input {
            display: block;
            border: none;
            width: 100%;
            border-radius: 3px;
            padding: 10px;
            margin: 0;
            box-sizing: border-box;
            /* top : 500px; */
        }

        .map-overlay .listing {
            overflow: auto;
            max-height: 100%;
        }

        .map-overlay .listing>* {
            display: block;
            padding: 5px 10px;
            margin: 0;
        }

        .map-overlay .listing a {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            color: #404;
            text-decoration: none;
        }

        .map-overlay .listing a:last-child {
            border: none;
        }

        .map-overlay .listing a:hover {
            background: #f0f0f0;
        }

        #mapboxgl-canvas {
            width: 1000px;
            height: 1000px;
        }

        .list-group {
            max-height: 617px;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
    </style>
    <script>

        // var backgroundMap = document.getElementById('menu');
        // var inputs = backgroundMap.getElementsByTagName('input');

        // function switchLayer(layer) {
        //     removeAllLayer();
        //     var layerId = layer.target.id;
        //     map.setStyle('mapbox://styles/mapbox/' + layerId);
        // }

        // for (var i = 0; i < inputs.length; i++) {
        //     inputs[i].onclick = switchLayer;
        // 

        var normalColor = '#E6731F';
        var highlightedColor = '#877875';

        var listCountry = [
        { 'country': 'allCountry', 'url': 'https://run.mocky.io/v3/9ee67ec2-6a62-4cae-b113-71512f1ed2ba' },

        { 'country': 'France', 'url': 'https://run.mocky.io/v3/3524e702-e967-423e-82a7-065261dd5f7f' },
        { 'country': 'Allemagne', 'url': 'https://run.mocky.io/v3/44197a2d-dc2d-41af-9f0b-75915045af54' },
        { 'country': 'Mexique', 'url': 'https://run.mocky.io/v3/85f0c8d5-899d-4dcb-9c90-5266c4cda866' },
        { 'country': 'Italie', 'url': 'https://run.mocky.io/v3/a4a79341-beff-4482-8ca7-5ee9461c36b3' },
        { 'country': 'Canada', 'url': 'https://run.mocky.io/v3/49038d1f-1f3a-485e-aa08-fa8b99575e06' },
        { 'country': 'USA', 'url': 'https://run.mocky.io/v3/2d81b4ee-ec8e-47c1-affd-972b3fa5b280' },
        { 'country': 'Bresil', 'url': 'https://run.mocky.io/v3/4cc22920-d3d0-4b73-ab93-658edb1ed552' },
        { 'country': 'Argentine', 'url': 'https://run.mocky.io/v3/7251d029-c1ba-48e2-af97-f5923169215c' },
        { 'country': 'Chili', 'url': 'https://run.mocky.io/v3/1454d1bf-dbbb-4fcc-a973-3eb3a828575b' },
        { 'country': 'Corée', 'url': 'https://run.mocky.io/v3/eee28db9-a0b5-4850-bcf2-bd752fd3aa15' },
        { 'country': 'Algérie', 'url': 'https://run.mocky.io/v3/dc53df75-f320-4398-b16f-aeeb12e176c7' },
        { 'country': 'Maroc', 'url': 'https://run.mocky.io/v3/25738159-ddb3-480c-bc97-8e34d49f92e1' },
        { 'country': 'AfriqueDuSud', 'url': 'https://run.mocky.io/v3/11c64d25-4198-4d7b-95ee-8fcf46571532' },
        { 'country': 'Japon', 'url': 'https://run.mocky.io/v3/ba7163ed-c811-40ac-938d-bb943e2f3782' },
        { 'country': 'Australie', 'url': 'https://run.mocky.io/v3/63599f4d-26fc-4762-a6b2-a70727722c5d' },
        { 'country': 'Russie', 'url': 'https://run.mocky.io/v3/a4077f66-e02d-4c1c-962a-ce83b292279c' },
        { 'country': 'Inde', 'url': 'https://run.mocky.io/v3/222614f1-2111-4ead-b824-55c58a434333' },

        { 'country': 'AllCountrySelected', 'url': 'https://run.mocky.io/v3/9f79bd78-43ef-46d1-9e00-3e74f401834d' }];
       
        mapboxgl.accessToken =
            'pk.eyJ1IjoiYWI4OTk3OTkiLCJhIjoiY2tmZjBlMXFnMGE4ZzJzczIxZ3lhOXJkNSJ9.Ii7MCkFbUkXZn5vZjicIGg';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/light-v10',
            center: [1.5, 48],
            maxZoom: 3,
            minZoom: 1,

            zoom: 1
        });

        var opacity = 0;
        var idCountry = null;

        function addAllLayer() {

            map.on('mouseenter', 'AllCountrySelected', function () {
                map.getCanvas().style.cursor = 'pointer';
            });

            map.on('mouseleave', 'AllCountrySelected', function () {
                map.getCanvas().style.cursor = '';
            });


            map.on('mouseover', 'France', function (e) {
                map.setPaintProperty('France', 'fill-opacity', 0.8);
            });

            map.on('mouseout', 'France', function (e) {
                map.setPaintProperty('France', 'fill-opacity', 0.3);
            });

            map.on('click', 'France', function (e) {
                console.log('France');
                onclick=document.location.href="{{ path('country.showCountry', {id: "FR", slug: "fr"}) }}";
            });
          
            map.on('mouseover', 'Italie', function (e) {
                map.setPaintProperty('Italie', 'fill-opacity',  0.8);
            });

            map.on('mouseout', 'Italie', function (e) {
                map.setPaintProperty('Italie', 'fill-opacity', 0.3);
            });

            map.on('click', 'Italie', function (e) {
                console.log('Italie');
                onclick=document.location.href="{{ path('country.showCountry', {id: "IT", slug: "it"}) }}";
            });

            map.on('mouseover', 'Allemagne', function (e) {
                map.setPaintProperty('Allemagne', 'fill-opacity',  0.8);
            });

            map.on('mouseout', 'Allemagne', function (e) {
                map.setPaintProperty('Allemagne', 'fill-opacity', 0.3);
            });

            map.on('click', 'Allemagne', function (e) {
                console.log('Allemagne');
                onclick=document.location.href="{{ path('country.showCountry', {id: "DE", slug: "de"}) }}";
            });
            map.on('mouseover', 'Canada', function (e) {
                map.setPaintProperty('Canada', 'fill-opacity',  0.8);
            });

            map.on('mouseout', 'Canada', function (e) {
                map.setPaintProperty('Canada', 'fill-opacity', 0.3);
            });

            map.on('click', 'Canada', function (e) {
                console.log('Canada');
                onclick=document.location.href="{{ path('country.showCountry', {id: "CA", slug: "ca"}) }}";
            });

            map.on('mouseover', 'USA', function (e) {
                map.setPaintProperty('USA', 'fill-opacity',  0.8);
            });

            map.on('mouseout', 'USA', function (e) {
                map.setPaintProperty('USA', 'fill-opacity', 0.3);
            });

            map.on('click', 'USA', function (e) {
                console.log('USA');
                onclick=document.location.href="{{ path('country.showCountry', {id: "US", slug: "us"}) }}";
            });

            map.on('mouseover', 'Mexique', function (e) {
                map.setPaintProperty('Mexique', 'fill-opacity',  0.8);
            });

            map.on('mouseout', 'Mexique', function (e) {
                map.setPaintProperty('Mexique', 'fill-opacity', 0.3);
            });

            map.on('click', 'Mexique', function (e) {
                console.log('Mexique');
                onclick=document.location.href="{{ path('country.showCountry', {id: "MX", slug: "mx"}) }}";
            });

<<<<<<< HEAD
=======
    
///
>>>>>>> dfe567f5ecccbf24f1e464e46de60e9ebedb848e
            map.on('mouseover', 'Corée', function (e) {
                map.setPaintProperty('Corée', 'fill-opacity', 0.8);
            });

            map.on('mouseout', 'Corée', function (e) {
                map.setPaintProperty('Corée', 'fill-opacity', 0.3);
            });

            map.on('click', 'Corée', function (e) {
<<<<<<< HEAD
               onclick=document.location.href="{{ path('country.showCountry', {id: "KR", slug: "kr"}) }}";
=======
                onclick=document.location.href="{{ path('country.showCountry', {id: "KR", slug: "kr"}) }}";

>>>>>>> dfe567f5ecccbf24f1e464e46de60e9ebedb848e
            });

            map.on('mouseover', 'Algérie', function (e) {
                map.setPaintProperty('Algérie', 'fill-opacity', 0.8);
            });

            map.on('mouseout', 'Algérie', function (e) {
                map.setPaintProperty('Algérie', 'fill-opacity', 0.3);
            });

            map.on('click', 'Algérie', function (e) {
<<<<<<< HEAD
               onclick=document.location.href="{{ path('country.showCountry', {id: "DZ", slug: "dz"}) }}";
=======
                onclick=document.location.href="{{ path('country.showCountry', {id: "DZ", slug: "dz"}) }}";

>>>>>>> dfe567f5ecccbf24f1e464e46de60e9ebedb848e
            });

            map.on('mouseover', 'Maroc', function (e) {
                map.setPaintProperty('Maroc', 'fill-opacity', 0.8);
            });

            map.on('mouseout', 'Maroc', function (e) {
                map.setPaintProperty('Maroc', 'fill-opacity', 0.3);
            });

            map.on('click', 'Maroc', function (e) {
<<<<<<< HEAD
               onclick=document.location.href="{{ path('country.showCountry', {id: "MA", slug: "ma"}) }}";
=======
                onclick=document.location.href="{{ path('country.showCountry', {id: "MA", slug: "ma"}) }}";
   
>>>>>>> dfe567f5ecccbf24f1e464e46de60e9ebedb848e
            });

            map.on('mouseover', 'AfriqueDuSud', function (e) {
                map.setPaintProperty('AfriqueDuSud', 'fill-opacity', 0.8);
            });

            map.on('mouseout', 'AfriqueDuSud', function (e) {
                map.setPaintProperty('AfriqueDuSud', 'fill-opacity', 0.3);
            });

            map.on('click', 'AfriqueDuSud', function (e) {
<<<<<<< HEAD
               onclick=document.location.href="{{ path('country.showCountry', {id: "ZA", slug: "za"}) }}";
=======
                onclick=document.location.href="{{ path('country.showCountry', {id: "ZA", slug: "za"}) }}";

>>>>>>> dfe567f5ecccbf24f1e464e46de60e9ebedb848e
            });

            map.on('mouseover', 'AfriqueDJaponuSud', function (e) {
                map.setPaintProperty('Japon', 'fill-opacity', 0.8);
            });

            map.on('mouseout', 'Japon', function (e) {
                map.setPaintProperty('Japon', 'fill-opacity', 0.3);
            });

            map.on('click', 'Japon', function (e) {
<<<<<<< HEAD
               onclick=document.location.href="{{ path('country.showCountry', {id: "JP", slug: "jp"}) }}";
=======
                onclick=document.location.href="{{ path('country.showCountry', {id: "JP", slug: "jp"}) }}";

>>>>>>> dfe567f5ecccbf24f1e464e46de60e9ebedb848e
            });
            map.on('mouseover', 'Australie', function (e) {
                map.setPaintProperty('Australie', 'fill-opacity', 0.8);
            });

            map.on('mouseout', 'Australie', function (e) {
                map.setPaintProperty('Australie', 'fill-opacity', 0.3);
            });

            map.on('click', 'Australie', function (e) {
                onclick=document.location.href="{{ path('country.showCountry', {id: "AU", slug: "au"}) }}";
<<<<<<< HEAD
=======

>>>>>>> dfe567f5ecccbf24f1e464e46de60e9ebedb848e
            });
            map.on('mouseover', 'Russie', function (e) {
                map.setPaintProperty('Russie', 'fill-opacity', 0.8);
            });

            map.on('mouseout', 'Russie', function (e) {
                map.setPaintProperty('Russie', 'fill-opacity', 0.3);
            });

            map.on('click', 'Russie', function (e) {
<<<<<<< HEAD
               onclick=document.location.href="{{ path('country.showCountry', {id: "RU", slug: "ru"}) }}";
=======
                onclick=document.location.href="{{ path('country.showCountry', {id: "RU", slug: "ru"}) }}";

>>>>>>> dfe567f5ecccbf24f1e464e46de60e9ebedb848e
            });
            map.on('mouseover', 'Inde', function (e) {
                map.setPaintProperty('Inde', 'fill-opacity', 0.8);
            });

            map.on('mouseout', 'Inde', function (e) {
                map.setPaintProperty('Inde', 'fill-opacity', 0.3);
            });

            map.on('click', 'Inde', function (e) {
<<<<<<< HEAD
               onclick=document.location.href="{{ path('country.showCountry', {id: "IN", slug: "in"}) }}";
=======
                onclick=document.location.href="{{ path('country.showCountry', {id: "IN", slug: "kr"}) }}";

>>>>>>> dfe567f5ecccbf24f1e464e46de60e9ebedb848e
            });

            map.on('mouseover', 'Bresil', function (e) {
                map.setPaintProperty('Bresil', 'fill-opacity', 0.8);
<<<<<<< HEAD
=======
            });

            map.on('mouseout', 'Bresil', function (e) {
                map.setPaintProperty('Bresil', 'fill-opacity', 0.3);
            });

            map.on('click', 'Bresil', function (e) {
                onclick=document.location.href="{{ path('country.showCountry', {id: "BR", slug: "br"}) }}";

            });

            map.on('mouseover', 'Argentine', function (e) {
                map.setPaintProperty('Argentine', 'fill-opacity', 0.8);
            });

            map.on('mouseout', 'Argentine', function (e) {
                map.setPaintProperty('Argentine', 'fill-opacity', 0.3);
            });

            map.on('click', 'Argentine', function (e) {
                onclick=document.location.href="{{ path('country.showCountry', {id: "AR", slug: "ar"}) }}";

            });

            map.on('mouseover', 'Chili', function (e) {
                map.setPaintProperty('Chili', 'fill-opacity', 0.8);
            });

            map.on('mouseout', 'Chili', function (e) {
                map.setPaintProperty('Chili', 'fill-opacity', 0.3);
            });

            map.on('click', 'Chili', function (e) {
                onclick=document.location.href="{{ path('country.showCountry', {id: "CL", slug: "cl"}) }}";

>>>>>>> dfe567f5ecccbf24f1e464e46de60e9ebedb848e
            });

            map.on('mouseout', 'Bresil', function (e) {
                map.setPaintProperty('Bresil', 'fill-opacity', 0.3);
            });

            map.on('click', 'Bresil', function (e) {
               onclick=document.location.href="{{ path('country.showCountry', {id: "BR", slug: "br"}) }}";
            });

            map.on('mouseover', 'Argentine', function (e) {
                map.setPaintProperty('Argentine', 'fill-opacity', 0.8);
            });

            map.on('mouseout', 'Argentine', function (e) {
                map.setPaintProperty('Argentine', 'fill-opacity', 0.3);
            });

            map.on('click', 'Argentine', function (e) {
               onclick=document.location.href="{{ path('country.showCountry', {id: "AR", slug: "ar"}) }}";
            });

            map.on('mouseover', 'Chili', function (e) {
                map.setPaintProperty('Chili', 'fill-opacity', 0.8);
            });

            map.on('mouseout', 'Chili', function (e) {
                map.setPaintProperty('Chili', 'fill-opacity', 0.3);
            });

            map.on('click', 'Chili', function (e) {
               onclick=document.location.href="{{ path('country.showCountry', {id: "CL", slug: "cl"}) }}";
            });

            map.on('mouseover', 'Japon', function (e) {
                map.setPaintProperty('Japon', 'fill-opacity', 0.8);
            });

            map.on('mouseout', 'Japon', function (e) {
                map.setPaintProperty('Japon', 'fill-opacity', 0.3);
            });

            map.on('click', 'Japon', function (e) {
               onclick=document.location.href="{{ path('country.showCountry', {id: "JP", slug: "jp"}) }}";
            });
        }

        function addAllSources() {
            for (var c in listCountry) {

                var color = "";

                var country = listCountry[c]['country'];
                // console.log(country);
                var url = listCountry[c]['url'];

                map.addSource(country, {
                    'type': 'geojson',
                    'data': url
                });

                if (country == 'allCountry') {
                    color = highlightedColor;
                }
                else {
                    color = normalColor;
                }
                if (country == 'AllCountrySelected') {
                    opacity = 0;
                }
                else {
                    opacity = 0.3;
                }

                map.addLayer(
                    {
                        'id': country,
                        'type': 'fill',
                        'source': country,
                        'paint': {
                            'fill-color': color,
                            'fill-opacity': opacity
                        }
                    });
            }
        }

        function removeAllLayer() {

            // console.log(map);

        }
         map.on('style.load', function () {
            addAllSources();
            addAllLayer();
        }); 
        map.addControl(new mapboxgl.FullscreenControl());

        map.addControl(
            new mapboxgl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: true
                },
                trackUserLocation: true
            })
        );
    </script>