<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - travel geovinum</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js">
    </script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
        type="text/css" />
</head>

<body>

    <body>
        <script
            src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
        <link rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css"
            type="text/css" />

        <main class="page lanidng-page">
            <section class="portfolio-block block-intro" style="padding: 30px 0;padding-top: 30;padding-bottom: 30;">
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab-1">
                        <div id='map' style='width: 1200px; height: 600px; margin:auto;'></div>
                    </div>
                </div>
                <div id="menu">
                    <input id="light-v10" type="radio" name="rtoggle" value="streets" checked="checked" />
                    <label for="light-v10">light</label>
                    <input id="dark-v10" type="radio" name="rtoggle" value="dark" />
                    <label for="dark-v10">dark</label>
                </div>
            </section>
        </main>
    </body>
      <style>
        .map-overlay fieldset {
            display: none;
            background: #ddd;
            border: none;
            padding: 10px;
            margin: 0;
            top: 100px
        }

        .map-overlay input {
            display: block;
            border: none;
            width: 100%;
            border-radius: 3px;
            padding: 10px;
            margin: 0;
            box-sizing: border-box;
            /* top : 500px; */
        }

        .map-overlay .listing {
            overflow: auto;
            max-height: 100%;
        }

        .map-overlay .listing>* {
            display: block;
            padding: 5px 10px;
            margin: 0;
        }

        .map-overlay .listing a {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            color: #404;
            text-decoration: none;
        }

        .map-overlay .listing a:last-child {
            border: none;
        }

        .map-overlay .listing a:hover {
            background: #f0f0f0;
        }

        #mapboxgl-canvas {
            width: 1000px;
            height: 1000px;
        }

        .list-group {
            max-height: 617px;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
    </style>
    <script>

        var backgroundMap = document.getElementById('menu');
        var inputs = backgroundMap.getElementsByTagName('input');

        function switchLayer(layer) {
            removeAllLayer();
            var layerId = layer.target.id;
            map.setStyle('mapbox://styles/mapbox/' + layerId);
        }

        for (var i = 0; i < inputs.length; i++) {
            inputs[i].onclick = switchLayer;
        }

        var normalColor = '#E6731F';
        var highlightedColor = '#877875';

        var listCountry = [{ 'country': 'allCountry', 'url': 'https://run.mocky.io/v3/0aba1712-5f32-414b-a975-a2f70b15386f' },
        { 'country': 'France', 'url': 'https://run.mocky.io/v3/edf8faab-49f9-48ac-b0b2-53654219d11c' },
        { 'country': 'Espagne', 'url': 'https://run.mocky.io/v3/915ae0c1-f21d-4745-9f6a-1a3db2bdbd23' },
        { 'country': 'Allemagne', 'url': 'https://run.mocky.io/v3/35d9bc65-7ae2-4839-855e-df48c8593296' },
        { 'country': 'Mexique', 'url': 'https://run.mocky.io/v3/4ada98d3-3c96-49e1-bcc1-633350972fde' },
        { 'country': 'Italie', 'url': 'https://run.mocky.io/v3/195198e0-7f46-4cbf-80be-082d75bee53a' },
        { 'country': 'Canada', 'url': 'https://run.mocky.io/v3/ed2876c8-6937-47ff-bb64-9063ea4e76cb' },
        { 'country': 'USA', 'url': 'https://run.mocky.io/v3/71ccba88-341b-4954-9215-03e6a10fa20c' },
        { 'country': 'AllCountrySelected', 'url': 'https://run.mocky.io/v3/44a459e1-4316-4f0e-9499-dfcf292ebb22' }];
        mapboxgl.accessToken =
            'pk.eyJ1IjoiYWI4OTk3OTkiLCJhIjoiY2tmZjBlMXFnMGE4ZzJzczIxZ3lhOXJkNSJ9.Ii7MCkFbUkXZn5vZjicIGg';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/light-v10',
            center: [1.5, 48],
            maxZoom: 3,
            minZoom: 1,

            zoom: 1
        });

        var opacity = 0;
        var idCountry = null;

        function addAllLayer() {

            map.on('mouseenter', 'AllCountrySelected', function () {
                map.getCanvas().style.cursor = 'pointer';
            });

            map.on('mouseleave', 'AllCountrySelected', function () {
                map.getCanvas().style.cursor = '';
            });


            map.on('mouseover', 'France', function (e) {
                map.setPaintProperty('France', 'fill-opacity', 0.8);
            });

            map.on('mouseout', 'France', function (e) {
                map.setPaintProperty('France', 'fill-opacity', 0.3);
            });

            map.on('click', 'France', function (e) {
                console.log('France');
                onclick=document.location.href="{{ path('country.showCountry', {id: "FR", slug: "fr"}) }}";
            });
            map.on('mouseover', 'Espagne', function (e) {
                map.setPaintProperty('Espagne', 'fill-opacity',  0.8);
            });

            map.on('mouseout', 'Espagne', function (e) {
                map.setPaintProperty('Espagne', 'fill-opacity', 0.3);
            });

            map.on('click', 'Espagne', function (e) {
                console.log('Espagne');
                onclick=document.location.href="{{ path('country.showCountry', {id: "FR", slug: "fr"}) }}";
            });

            map.on('mouseover', 'Italie', function (e) {
                map.setPaintProperty('Italie', 'fill-opacity',  0.8);
            });

            map.on('mouseout', 'Italie', function (e) {
                map.setPaintProperty('Italie', 'fill-opacity', 0.3);
            });

            map.on('click', 'Italie', function (e) {
                console.log('Italie');
                onclick=document.location.href="{{ path('country.showCountry', {id: "IT", slug: "it"}) }}";



            });
            map.on('mouseover', 'Allemagne', function (e) {
                map.setPaintProperty('Allemagne', 'fill-opacity',  0.8);
            });

            map.on('mouseout', 'Allemagne', function (e) {
                map.setPaintProperty('Allemagne', 'fill-opacity', 0.3);
            });

            map.on('click', 'Allemagne', function (e) {
                console.log('Allemagne');
                onclick=document.location.href="{{ path('country.showCountry', {id: "DE", slug: "de"}) }}";
            });
            map.on('mouseover', 'Canada', function (e) {
                map.setPaintProperty('Canada', 'fill-opacity',  0.8);
            });

            map.on('mouseout', 'Canada', function (e) {
                map.setPaintProperty('Canada', 'fill-opacity', 0.3);
            });

            map.on('click', 'Canada', function (e) {
                console.log('Canada');
                onclick=document.location.href="{{ path('country.showCountry', {id: "CA", slug: "ca"}) }}";
            });


            map.on('mouseover', 'USA', function (e) {
                map.setPaintProperty('USA', 'fill-opacity',  0.8);
            });

            map.on('mouseout', 'USA', function (e) {
                map.setPaintProperty('USA', 'fill-opacity', 0.3);
            });

            map.on('click', 'USA', function (e) {
                console.log('USA');
                onclick=document.location.href="{{ path('country.showCountry', {id: "US", slug: "us"}) }}";
            });

            map.on('mouseover', 'Mexique', function (e) {
                map.setPaintProperty('Mexique', 'fill-opacity',  0.8);
            });

            map.on('mouseout', 'Mexique', function (e) {
                map.setPaintProperty('Mexique', 'fill-opacity', 0.3);
            });

            map.on('click', 'Mexique', function (e) {
                console.log('Mexique');
                onclick=document.location.href="{{ path('country.showCountry', {id: "MX", slug: "mx"}) }}";
            });

        }

        function addAllSources() {
            for (var c in listCountry) {

                var color = "";

                var country = listCountry[c]['country'];
                console.log(country);
                var url = listCountry[c]['url'];

                map.addSource(country, {
                    'type': 'geojson',
                    'data': url
                });

                if (country == 'allCountry') {
                    color = highlightedColor;
                }
                else {
                    color = normalColor;
                }
                if (country == 'AllCountrySelected') {
                    opacity = 0;
                }
                else {
                    opacity = 0.4;
                }

                map.addLayer(
                    {
                        'id': country,
                        'type': 'fill',
                        'source': country,
                        'paint': {
                            'fill-color': color,
                            'fill-opacity': opacity
                        }
                    });
            }
        }

        function removeAllLayer() {

            console.log(map);

        }
        map.on('style.load', function () {
            addAllSources();
            addAllLayer();
        });
        map.addControl(new mapboxgl.FullscreenControl());

        map.addControl(
            new mapboxgl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: true
                },
                trackUserLocation: true
            })
        );
    </script>