{% extends 'assets/base.html.twig' %}

{% block title %}Homepage !{% endblock %}

{% block body %}
    {% if title is defined %}
        <h1>{{ title }}</h1>
    {% endif %}

    {% if channels is defined %}
    {% for channel in channels %}
            <li>{{ channel.getChannelID|e }}</li>
           <li>{{ channel.getChannelName|e }}</li>
    {% endfor %}
    {% endif %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <!--
    // on insère les scripts défini dans le template base.html.twig (le parent de notre template cf extends en haut)

    //ci dessous on défini notre nouveau script
    //on oublie pas d'utiliser assets si c'est un script local
    -->
    <script src="{{asset('javascript/bousin3000.js')}}"> </script>
{% endblock %}
